{% extends 'base.html' %}

{% block title %}Todos{% endblock %}

{% block content %}
    <div>
        <h2></h2>
        <a href="{% url 'todo:new_todo' %}" class="add-button button button-primary button-right text">Add todo</a>
        <div class="grid-notes">
            {% for todo in todos %}
                <div>
                    <a class="note todo" href="{% url 'todo:edit' todo.id %}">
                        <p class="todos_related_date">{{ todo.related_date|date:'d.m.Y' }}</p>
                        <h3 class="h3 wrap">{{ todo.title }}</h3>
                        {% if todo.content %}
                            <p class="notes__p text wrap">{{ todo.content }}</p>
                        {% else %}
                            <p class="notes__p p__pl text">There is no text</p>
                        {% endif %}
                        <p class="notes__date">{{ todo.created_at|date:'d.m.Y H:i' }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}